{% load cms_tags staticfiles sekizai_tags menu_tags i18n %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Талисман | производство кожанной обуви, г. Запорожье{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
        <link rel="stylesheet" href="{% static 'highslide/highslide.css' %}">

        <link rel="stylesheet" href="{% static 'css/theme.css' %} ">
        <link rel="stylesheet" href="{% static 'css/footer.css' %} ">
        <link rel="stylesheet" href="{% static 'css/news.css' %} ">
        <link rel="stylesheet" href="{% static 'css/collections.css' %} ">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static 'jquery-ui/jquery-ui.min.js' %} "></script>
        <script src="{% static 'highslide/highslide.js' %} "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-79844806-1', 'auto');
          ga('send', 'pageview');
        </script>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        <div class="container">
            <div class="row">
                <div class="col-xs-12 talisman-headline">
                     <div class="main-title"><a href="/">Talisman</a></div>
                    <div class="main-line">
                        Производство, ремонт, реставрация кожаной обуви.<br>
                        Пошив по индивидуальным заказам.<br>
                        Обувь нестандартных размеров и повышенных полнот.<br>
                    </div>

                </div>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>
                </div>
            </div>
            {% block content %}{% endblock content %}
        </div>

            <div class="col-xs-12 footer-row">

                <div class="col-md-3 col-md-offset-1 col-xs-offset-1 col-xs-5">
                    {% blocktrans %}
                        <p class="footer-about">
                            ООО "Талисман"<br>
                            69050, г. Запорожье, ул. Космическая,129.<br>
                            Тел/факс: 956182, 956242. <br>
                            Е–mail: talisman.zp@i.ua
                        </p>
                    {% endblocktrans %}
                </div>

                <div class="col-md-3 footer-author col-md-offset-3 col-xs-6 col-xs-offset-2">
                    2016<br>
                    developed by <a href="mailto:kostyachum@gmail.com">kostyachum@gmail.com</a>
                </div>
            </div>

        {% render_block "js" %}
    </body>
</html>
