{% extends "base.html" %}
{% load cms_tags i18n %}


{% block content %}
    <div class="jumbotron" id="jumbo">
        {% placeholder "feature" %}
    </div>

            {% if request.user.is_superuser %}
                <div class="container admin-panel">
                    <div class="row">
                        <div class="col-md-12 ">
                        <a class="btn btn-success ancestor" href="{% url 'collection-add' %}">{% trans "Новая галерея" %}</a>
                        <a class="btn btn-success ancestor" href="{% url 'ftp-collection-import' %}">{% trans "Импортировать FTP" %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
    <div>
        {% placeholder "content" %}
    </div>
{% endblock content %}
