{% load thumbnail %}
<div class="col-xs-12 center-block">
    <div class="col-xs-12 collection-container">
        <div class="cold-xs-12 collection-image-list">
            <div class="item-box">
                {% thumbnail collection.galleryimage_set.all.0.image "x300" as im %}
                    <img class="collection-list-item" src="{{ im.url }}">
                {% endthumbnail %}
            </div>
            <div class="item-box">
                {% thumbnail collection.galleryimage_set.all.1.image "x300" as im %}
                    <img class="collection-list-item" src="{{ im.url }}">
                {% endthumbnail %}
            </div>

            <div class="item-box">
                {% thumbnail collection.galleryimage_set.all.3.image "x300" as im %}
                    <img class="collection-list-item" src="{{ im.url }}">
                {% endthumbnail %}
            </div>

            <div class="item-box">
                {% thumbnail collection.galleryimage_set.all.4.image "x300" as im %}
                    <img class="collection-list-item" src="{{ im.url }}">
                {% endthumbnail %}
            </div>

            <div class="item-box">
                {% thumbnail collection.galleryimage_set.all.5.image "x300" as im %}
                    <img class="collection-list-item" src="{{ im.url }}">
                {% endthumbnail %}
            </div>
        </div>
    </div>

    <div class="collection-list-title">
        <h2><a href="{% url 'collection-detail' collection.id %}">{{ collection.year }} - {{ collection.name }}</a></h2>
    </div>
</div>