<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{ collapse_id }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ collapse_id }}" aria-expanded="{{expanded}}" aria-controls="collapse{{ collapse_id }}">
          {{ collapse_name }}
        </a>
      </h4>
    </div>
    <div id="collapse{{ collapse_id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ collapse_id }}">
      <div class="panel-body">
          {% for category, images in image_list.items %}
            <div class="row">
                <div class="col-md-12">
                    <h4 id="category{{collapse_id}}{{category.id}}">{{ category.name }}</h4>
                </div>
            </div>
              {% for img in images %}
                    {% include "include/item.html" %}
                {% endfor %}
          {% endfor %}

      </div>
    </div>
  </div>