{% load thumbnail %}
<div class="col-md-4 col-sm-6">
    {% if img.title %}
        <div class="col-md-12 title-holder">
            <span class="item-title">{{ img.title }}</span>
        </div>
    {% endif %}
    {% if img.image %}
        <a href="{{ img.image.url }}" class="highslide" onclick="return hs.expand(this)">
            {% thumbnail img.image "x300" as small_image %}
                <img src="{{ small_image.url }}" class="model-img " />
            {% endthumbnail %}
        </a>
    {% else %}
        <img src="https://storage.googleapis.com/prestashop/img/no_image.png" class="model-img " />
    {% endif %}
    <div class="col-md-12 price-holder">
    <span class="item-price">
        {% if img.price %}{{ img.price }} грн. {% endif %}
    </span>
    
</div>

</div>
