    <h4>
        {{ menu_name }}</h4>
    <ul>
        {% for category in category_list %}
            <li><a href="#category{{menu_id}}{{category.id}}">{{category}}</a></li>
        {% endfor %}
    </ul>