{% if collections %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {% for collection in collections %}
          <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter }}" {% if forloop.first %} class="active" {% endif %}></li>
      {% endfor%}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for collection in collections %}
          <div class="item {% if forloop.first %}active{%endif%}">
            {% include "include/collection_preview.html" %}
        </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->


<div>

</div>

{% endif %}