{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script type="text/javascript">
    hs.graphicsDir = '{% static "highslide/graphics/" %}';
</script>
<h2>{{ object.name }} {% if request.user.is_superuser %} <a href="{% url 'collection-edit' object.pk %}" class="btn btn-default pull-right">{% trans 'Редактировать' %}</a> {% endif %}</h2>
{% if object.description %}
<div class="row">
    <div class="col-md-12 collection-description">
        {{ object.description }}
    </div>
</div>
{% endif %}

<div class="col-md-3">
    {% if categories_woman %}
        {% include 'include/menu_list.html' with menu_id='Woman' menu_name='Женские' category_list=categories_woman %}
    {% endif %}

    {% if categories_man %}
        {% include 'include/menu_list.html' with menu_id='Man' menu_name='Мужские' category_list=categories_man %}
    {% endif %}

    {% if categories_other %}
        {% include 'include/menu_list.html' with menu_id='Other' menu_name='Разное' category_list=categories_other %}
    {% endif %}
</div>

<div class="col-md-9">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% if for_woman %}
            {% include "include/collapsable_block.html" with collapse_name='Женские' image_list=for_woman collapse_id='Woman' expanded='true' %}
        {% endif %}

        {% if for_man %}
            {% include "include/collapsable_block.html" with collapse_name='Мужские' image_list=for_man collapse_id='Man' expanded='false' %}
        {% endif %}

        {% if other %}
            {% include "include/collapsable_block.html" with collapse_name='Разное' image_list=for_other collapse_id='Other' expanded='false' %}
        {% endif %}
    </div>
</div>

{% endblock content %}
