{% load i18n %}
<div>
        <div class="md-col-12">
            <h2>{% trans "Последние обновления" %}</h2>
        </div>
        <div class="md-col-12">
            {% for collection in collections %}
                <h3><a href="{% url 'collection-detail' collection.id %}">{{ collection }}</a></h3>
            {% endfor %}
        </div>
    <div><a href="{% url 'collection-home' %}">{% trans 'Всего' %} {{ total }}</a></div>
</div>
