{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block content %}
<h1>{% trans 'Коллекции' %}</h1>
{% for collection in object_list %}
<div class="row">
    {% include "include/collection_preview.html" %}
</div>
{% empty %}
    {% trans 'Пока-что пусто' %}
{% endfor %}
{% endblock %}

