.model-img{
    width: 250px;
     position: relative;
     margin: 5px;
     border-radius: 5px;
}

.item-title{
    line-height: 40px;
    font-size: 24px;
}

.item-price{
    font-size: 24px;
    font-weight: bold;
    color: #003366;
    margin-right: 0px;
}
.price-holder{
    text-align: right;
    z-index: 10;
    bottom: 5px;
    height: 40px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.title-holder{
    text-align: center;
    z-index: 10;
    height: 40px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
}

.collection-description{
    font-size: 24px;
    margin: 20px;
}

.collection-list-item{
    height:300px;
}

.item-box{
    float:left;
    width: 250px;
    height 300px;
    margin: 5px;
    overflow: hidden;

}

.collection-container{
    display:block;
    overflow: hidden;
    margin: 20px;
}


.collection-image-list{
    height: 300px;
    float:left;
}

.collection-list-title{
    background-color: #CD5C5C;
    color: white;
    position: absolute;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.collection-list-title a{
    color: white;
}
