.footer-row{
   margin-top: 20px;
   padding: 15px;
   background-color: #F5F5F5;
}

.footer-about{
    line-height:30px;
}

.footer-author{
    text-align: right;
    position: absolute;
    padding-right: 40px;
    padding-bottom: 20px;
    bottom: 0;
    right: 0;
}
