.news-header{
  text-align: right;
}

.news-date{
    font-size:10px;
    color: #778899;
}

.news-text{
}

.news-title{
    font-weight: bold;
}

.news-body{
    margin: 5px;
    margin-top: 40px;

}

.news-separator{
    width: 100%;
}
.news-title{

}