.carousel-caption div{
}

.model-img-sml{
    width: 250px;
     margin: 5px;
     border-radius: 5px;
     border: 2px solid black;
}
.item-edit{
    border-bottom: 2px dotted black;
    margin-bottom: 15px;
}

.talisman-headline{
    margin: 15px;
    display: block;

}

.main-title{
    float: left;
    background-color: #CD5C5C;
    font-size: 60px;
    font-weight: bold;
    width: 280px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 1px 1px black;
    margin-right:10px;
}

.main-line{
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.main-title a{
    text-decoration: none;
    color: white;
}

.news-excerpt{
    margin-left: 20px;
}

#jumbo{
   padding-left: 0px;
   padding-right: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
}