{% load i18n %}
<div>
    <div class="md-col-12 news-header"><h2>{% trans "Новости" %}</h2></div>
    {% for article in news %}
    <div class="md-col-12 news-body">
        <div class="news-text " id="news-{{ article.id }}" title="{{ article.title }}">
        <blockquote>
            <span class="news-date pull-right">{{ article.pub_date }}</span>
            <span class="news-title">{{ article.title }}</span>
        </blockquote>
            <div class="news-excerpt">
            <p class="lead">
                {{ article.excerpt|safe }}
            </p>
        </div>
        </div>
    </div>
    <div class="news-separator"></div>
    {% endfor %}

</div>